.beamlineScrollbar {
    display: flex;
    oveflow-x: scroll;
    scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.beamlineScrollbar::-webkit-scrollbar {
  height: 8px;
}

.beamlineScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollItem {
  flex: 0 0 auto;
  scroll-snap-align: center; /* snaps each number into view */
  width: 60px;
  height: 60px;
  margin: 0 5px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
