.beamSegment {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    
}

.beamSegment h4 {
    font-weight: lighter;
}

.segmentButton {
    align-items: center;
    height: 30px;
    display: inline-flex;
    font-size: 13px;
    /* background-color: #ffffff99; */
}

.beamSegment input {
    margin-right: 8px;
    padding: 4px;
    flex: 1;
}

.beamSegmentRow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5px;
    gap: 1rem; /* spacing between the segment and panel */
}
