.dropdownContent {
    z-index: 10;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2)
    0px 8px 24px;
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: black;
}

.dropdownContent::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dropdownOpen {
    opacity: 1;
    transition: opacity 0.3s ease;
    display:flex;
}
