/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f4ef;
  width: 100%;
  height: 100%;
  margin: 0;
}

.layout {
    display: grid;
    grid-template-columns: [col-1-start] 50px [col-2-start] 200px [col-3-start] 325px [col-4-start] 6fr  [col-end];
    grid-template-rows: [row-1-start] 462px [row-2-start] 100px [row-3-start] 1.5fr [row-end];
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-row-start: row-1-start;
    grid-row-end: row-3-start;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 16px;
    background-color: #f5f4ef;
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menuOpen {
    grid-column-start: col-3-start;
    grid-column-end: col-4-start;
}

.menuClosed {
    grid-column-start: col-2-start;
    grid-column-end: col-4-start;
}

.sidebar h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #000000;
}

.toggleLegend {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%; /* Ensure the div has a defined height */
    grid-column: col-1-start / col-3-start;
    grid-row: row-2-start / row-3-start;
    background-color: #f5f4ef;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    flex-grow: 1;
}

.toggleLegend .select-container {
    margin-top: auto; /* Push the Select element to the bottom */
    border-bottom: 1px solid #000000;
    background-color: #f5f4ef;
}

.sidebar button {
    margin: 2px;
}

.beamSettings {
    grid-column: col-1-start / col-3-start;
    grid-row: row-1-start / row-2-start;
    margin: 4px;
    overflow-x: hidden;
    position: relative;
}

.close-button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: none;
    border: 1px solid #000000;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    outline: none;
    transition: background-color 0.3s ease;
  }

button:hover {
    background-color: #d3d3d3;
    border: 1px solid black; /* Set border to black */
    outline: none;
}

button:focus {
    outline: none;
    border: 2px solid #000000; /* Thicker border on focus */
}

.main-content {
    grid-column-start: col-4-start;
    grid-column-end: col-end;
    grid-row-start: row-1-start;
    grid-row-end: row-3-start;

    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    background-color: #FFFFFF;

    min-height: 300px;
    overflow: hidden;
}

.main-content img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.main-content h1 {
     margin-top: -20px;
}

.twiss-graph {
    grid-row-start: row-3-start;
    grid-row-end: row-end;
    grid-column-start: col-1-start;
    grid-column-end: col-end;
    border: 1px solid #000000;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    background-color: #FFFFFF;
}

.linegraph img {
    width: 100%;
}


.scrollBox {
    position: relative;
    height: 280px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff99;
}


.simButton {
    position: absolute;
    border:1px solid #000000;
    border-radius: 0;
    background-color: #ffffff99;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.scrollMenu {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #333;
}

.scrollmenu div{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.forLabels {
    margin: 3px;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future compatibility */
}

.menu-options {
    grid-row-start: row-1-start;
    grid-row-end: row-2-start;
    display: flex;
    align-items: flex-start;
}

.settings-icon-wrapper {
    align-items: center;
    /* padding: 10px; */
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 30px; */
    height: 20px;
    padding: 0px;
    
    box-sizing: border-box; /* Include padding and border in the size */

  }

  .menu-button:hover { 
    border: none;
    border-radius: 0px;
    background-color: #f5f4ef;
  }

  .modal-content {
    max-height: 80vh; /* Ensure the content scrolls if it overflows */
    overflow: auto; /* Add scrollbars for overflowing content */
    padding: 20px;
    display: flex; /* Optional: Center the SVG if needed */
    justify-content: center;
    align-items: center;
  }

  .custom-modal {
    min-width: 1300px;
    min-height: 500px;
  }